.pp--role__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include for-desktop-up {
        grid-template-columns: repeat(2, 1fr);
    }
}

.pp--role {
    @extend %lineCard;
    min-height: 5rem;
}

.pp--role__name {
    font-weight: bold;
    margin: 0;
    padding: .5rem 0;
}

.pp--role__header {
    display: flex;
    align-items: center;
}

.pp--role__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @include for-tablet {
        grid-template-columns: 1fr 1fr;
    }
    @include for-desktop-up {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pp--role__item__slug {
    color: var(--primary-color);
    border-radius: 0.4rem;
    font-weight: bold;
    text-shadow: 0 0 5px var(--primary-color-lightest);
}


.pp--inline-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pp--inline-header {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5rem;
}

.pp--role__item__name {
    height: 1.5rem;
}

.pp--role--form {
    min-height: auto;
}

.pp--roles {
    @extend %lineCard;
    min-height: auto;
}

.pp--role--form .pp--role__item__name,
.pp--roles .pp--role__item__name {
    display: inline;
}

.pp--role--form.pp--role {
    margin-bottom: 0;
    border-radius: 0;
}
